
body{
	background-color: #071A71;
	background-image: url('../images/show.jpg');
	background-attachment: fixed;
	background-height: 100%;
	color: #eee;
	padding: 0px;
}


.events{
	// border: 1px solid #aad;
	height: 500px;
	overflow: scroll;
}
.center{
	text-align:center;
	padding: 0px;
}
.event{
	// border: 1px solid #999;
	padding: 1%;
	background-color: rgba(50,50,50,0.9);
}
// .flex{
// 	display: -webkit-flex;
// 	-webkit-flex-direction: row;
// 	-webkit-justify-content: space-between;
// 	-webkit-flex-wrap: wrap;
// }
.eventContainer{
	// border: 1px solid #aaa;
	margin: 1%;
	width: 40%;
}
.rest{
	ul{list-style:none;}
}
.imgdiv{
	// border:1px solid #0ee;
	img{
		width: 100%;
	}
	background-color:#222;
}
.smImg{
	height: 75px;
	img{
		height:100%;
	}
}
.bigImgDiv{
	position:relative;
	height: 175px;
	background-size:100%;
	background-repeat:no-repeat;
	margin: 3%;
	z-index: 0;
}

// .eventDiv{
// margin-bottom:5%;
// width: 25px;
// }
.container{
	background: rgba(025,025,025,0.95);

}
.float-up{
	position:absolute;
	span{
		background-color:rgba(0,0,0,0.8);
		padding:0px;
	}
	h3,h4,h5,h6{
		margin:0px;
	}
}

.header1{
	a{
	text-decoration:none;
	}
	a:hover{
		text-decoration: none;
	}
	background-image: url('../images/street.jpg');
	background-size:100%;
	height: 150px;
	color: #eee;
	border-bottom:1px solid #bbb;
	h1{
		padding:0px;
		font-weight: 100;
		letter-spacing: 10px;
		font-size: 3.5em;
		text-align: center;
		text-rendering: far-apart;
	}
	span{
		font-size: 3em;
		
		font-family: 'Dorsa';
	}

}
.header2{
	background-color:rgba(50,50,50,0.5);
}
.bTop{
	border-top: 1px solid rgba(150,150,200,0.9);
	border-left: 3px solid rgba(0,0,0,0.25);
	overflow:scroll;
	height: 500px;
}
.weather{
	color: #eee;
	top: -25px;
	background-color: rgba(0,0,0,0.4);
}
.twitter-timeline{
	height:500px;
}
.sidebar{
	background-color: #222;
	height: 500px;
	margin-right: 0px;
}
.nav{
	height: 100%;
}
.nav-sidebar{

}
.restaurants{
	// border: 1px solid black;
	height: 500px;
	overflow: scroll;
}
.fixed{
	position:static;
	z-index: 2;
	background-color:rgba(75,75,100,0.4);
}
.eventImg{
	width:80%;
	padding-left:10%;
}

#map-canvas{
	height: 100px;
}
.angular-google-map-container { 
	height: 400px;
	// border: 1px solid #eee;
}

// MOBILE STUFF________________________
.mobile{
	display:none;
}
.calenMob{
	display: inline-block;
}
.panel-body, .panel-collapse{
	background-color:rgba(50,50,50,0.9);
}
.panel-default{
	// background-color: rgba(75,75,75,0.9);
}
.restDiv{
	margin-bottom: 10px;
	border-bottom: 2px solid rgba(200,200,200,0.1);
}
h1,h2,h3,h4,h5,h6{
	font-weight:200;
}
.calenMobDiv{
	background-color:rgba(25,25,25,0.9);
	margin:0px;
}
.icon{
	width:20px;
}
.flexBox{
	padding: 5% 10%;
		display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
}

@media(max-width:640px){
	.dB{
		display: none;
	}
	.mobile{
		display: inline;
	}
	.header1{
		height:100px;
		h1{
			font-size: 4em;
		}
		h1,h2,h3,h4{
			padding:0px;
			margin:0px;
		}
	}
	.imgDiv{
		height:200px;
	}
}

@media(max-width: 767px){
	.col-sm-4{
		padding: 0px;
		margin: 0px;
	}
	h1,h2,h3,h4,h5,h6,ul{
		text-align:center;
	}
	.eventImg, .restDetImg{
		width:80%;
		padding:0px;
		margin-left:10%;
	}
	.container{
	margin:0px;
	padding:0px;
	}
	.header1{
		height: 125px;
		h1{
			font-size: 2.5em;
		}
	}

}