<div ng-controller="EventsCtrl">
  <div class="col-md-12 row header2 center">
    <div class="col-xs-4"><a href="#/main"> <h4><< back to dashboard</h4></a></div>
    <div class="col-xs-4"><h4><a href="#/music-calendar"><< back to music calendar</a></h4></div>
    <div class="col-sm-4"></div>
  </div>
  <div class="col-md-6">
    <div ng-repeat="artist in event.artists">
    <h2>{{event.artists[0].name}}</h2>
    <h3>{{event.artists[1].name}}</h3>
    <h3>Performing Live at <a ng-href="{{event.ticket_url}}">{{event.venue.name}}</a> </h3>
    <h4>{{event.datetime | date : 'medium'}}</h4>
    
    <img class="eventImg" ng-src="http://www.bandsintown.com/{{artist.name}}/photo/large.jpg" ng-alt="{{event.artist.name}}">
    </div>
    <a class="fb-share-button csmb facebook" data-href="{{}}">share</a>  
    {{event.venue.longitude}}
  </div>

  <!-- MAP -->


  <div class="col-md-6">
    <br>
    <iframe ng-bind-html="trustedHtml"
    width="100%"
    height="450"
    frameborder="0" style="border:0"
    ng-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJ_lVIxNq31PmzRUbMh9JIStQOE4_6-aQ&q={{event.venue.name}}"/>
  </div>
 <!--          <div class="col-md-4">
            <google-map center=map.center zoom=map.zoom>
              <marker coords='longitude:{{event.venue.longitude}},latitude:{{event.venue.latitude}}'>
              </marker>
            <google-map>
          </div>  
          <div class="col-md-4">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=Williamsburg,Brooklyn,NY&zoom=13&size=400x400&
markers=color:blue%7{{}}"></div> -->
  </div>