  <h1>header</h1>
      <h2>header</h2></div>
      <h3>header</h3>
      <h4>header</h4>
      <h5>header</h5>
      <h6>header</h6>
  <div class="header">
    
  </div>

  <div ng-controller="WeatherCtrl">
    <div class="weather">
      Charleston, SC {{(weather.data.main.temp/10*9/5)+32}}
    </div>
  </div>
  <div class="col-md-6 events" ng-controller="EventsCtrl">
    <div ng-repeat="event in events">
      <div ng-repeat="artist in event.artists" class="events">
        <div class="imgdiv col-md-8">
          <img ng-src="http://www.bandsintown.com/{{event.artists[0].name}}/photo/medium.jpg" ng-alt="{{event.artists[0].name}}">
        </div>
        <div class="col-md-4">
          <h4>{{event.artists[0].name}}</h4><i>@</i>
          <h4>{{event.venue.name}}</h4>
          <h5>{{event.datetime}}</h5>
          
        </div>
      </div>
      

    </div>
  </div>
  <div class="restaurants col-md-6" ng-controller="RestaurantsCtrl">
    <div ng-repeat="restaurant in restaurants">
      {{restaurant.name}}
    </div>
  </div>


